@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black w-full min-h-full overflow-x-hidden;
  }
}

@layer components {
  /* .menu_navbar::hover {
    color: #00dc82;
  } */
  .menu_navbar {
    @apply py-2 px-2 text-whiteYoung hover:text-primary;
  }

  .main_wrapper {
    @apply mx-auto max-w-screen-lg px-8;
  }

  .content_section {
    @apply flex justify-center  flex-col min-h-screen;
  }

  .btn_contact {
    overflow: hidden;
    padding: 12px 24px;
    border-radius: 7px;
    background-color: #0f172a;
    color: white;
    border: 1px solid #00dc82;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 150px;
  }

  .btn_contact span {
    position: relative;
    transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  }

  .btn_contact:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: #00dc82;
    transform: scaleX(0);
    transform-origin: 100% 100%;
    transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  }

  .btn_contact:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
  }

  .btn_contact:hover span {
    color: #0f172a;
  }

  .border_profile_picture {
    border-radius: 50% 50% 51% 49% / 30% 30% 70% 70%;
  }

  .profile-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 350px;
    border-radius: 50%;
    object-cover: cover;
  }

  .blob {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    width: 350px;
    height: 350px;
  }

  .splash_screen_logo {
    @apply w-80 h-40;
  }
}
